@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;  */
    font-size: 20px;
    height: 100%;
    scrollbar-color: var(--secondary) var(--background);
    scrollbar-width: thin;
}

#html, body{
    background-color: var(--background);
}

:root{
    height: 100%;
    --primary: #d7352b;
    --primary-content: #ffffff;
    --primary-dark: #ae2921;
    --primary-light: #df5e56;

    --secondary: #77d72b;
    --secondary-content: #010200;
    --secondary-dark: #5fae21;
    --secondary-light: #93df56;

    --background: #1b1818;
    --foreground: #292423;
    --border: #453c3b;

    --copy: #fbfbfb;
    --copy-light: #dcd6d6;
    --copy-lighter: #aca09f;

    --success: #2bd72b;
    --warning: #d7d72b;
    --error: #d72b2b;
    --success-content: #000200;
    --warning-content: #020200;
    --error-content: #ffffff;

    --gradient-top: linear-gradient(0deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-right: linear-gradient(90deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-bottom: linear-gradient(180deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-left: linear-gradient(270deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-top-right: linear-gradient(45deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-bottom-right: linear-gradient(135deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-top-left: linear-gradient(225deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-bottom-left: linear-gradient(315deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-radial: radial-gradient(var(--primary-light), var(--primary), var(--primary-dark)); 
}

h1{
    font-size: 48px; 
}

@media (max-width: 768px) {
    h1 {
      font-size: 42px; 
    }
}

.p2{
    font-size: 24px;
}

.gradient_box{
    background: var(--gradient-top);
    color: var(--primary-content);
    padding: 3% 4.7%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.gradient_button{
    background: var(--primary);
    padding: 2%;
    border-radius: 10px;
}

.button_secondary{
    background: var(--secondary-dark);
    color: var(--secondary-content);
    padding: 5px;
    padding-inline: 16px;
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
}

.button_secondary:hover{
    background: var(--secondary-light);
}

.button_success{
    background: var(--success);
    color: var(--success-content);
    padding: 0.5%;
    padding-inline: 1.5%;
    border-radius: 20px;
}

.button_error{
    background: var(--error);
    color: var(--erroe-content);
    padding: 0.5%;
    padding-inline: 1.5%;
    border-radius: 20px;
}

.small{
    font-size: 16px;
}

.question_right{
    background-color: var(--nyanza);
}

.question_wrong{
    background-color: var(--red-munsell);
}

.question{
    background-color: white;
    border-radius: 15px;
    border-color: gainsboro;
    border-width: 1px;
    padding: 2% 3%;
    width: 10%;
    box-shadow: 0 4px 6px -6px #222;
}

.tag_error{
    background: var(--error);
    padding: 0px 9px;
    border-radius: 100%;
    cursor: default;
    color: white;
    align-content: center;
    justify-content: center;
}

.tag_category{
    background: var(--gradient-top);
    padding: 0.5% 1.5%;
    border-radius: 20px;
    cursor: default;
}

.tag_infinity{
    background: var(--error);
    padding: 0.5px 8px;
    border-radius: 100%;
    cursor: default;
    color: white;
    align-content: center;
    justify-content: center;
}

.game_type{
    padding: 5%;
    background-color: var(--foreground);
    border-color: var(--border);
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
    margin: 1%;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.circle{
    border: 3px solid var(--copy);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.button_primary{
    border-radius: 20px;
    background-color: var(--foreground);
    color: var(--primary-light);
    padding: 1%;
}


.popuptext {
    position: absolute;
    display: none;
    background-color: var(--foreground);
    color: var(--secondary);
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px var(--border);
    z-index: 10;
  }
  
.show {
    display: block;
}

.hidden_radio {
    opacity: 0;
    position: absolute;
  }
  
.hidden_radio_label {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.hidden_radio_label:hover {
    background-color: var(--primary-light);
    border-color: var(--primary);
}

.hidden_radio:checked + .hidden_radio_label {
    background-color: var(--border);
    color: white;
    border-color: var(--primary);
}

.custom_card{
    background-color: var(--primary-dark);
    color: var(--copy);
    border-color: var(--border);
    border-radius: 7px;
}

.no_score{
    background-color: var(--foreground);
    color: var(--copy);
}

.low_score{
    background: linear-gradient(0deg, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 15%);
    color: var(--copy);
}

.medium_score{
    background: linear-gradient(0deg, rgb(153, 0, 255), rgba(255, 0, 0, 0) 30%);
    color: var(--copy);
}

.high_score{
    background: linear-gradient(0deg, rgb(0, 183, 255), rgba(255, 0, 0, 0) 45%);
    color: var(--copy);
}

.very_high_score{
    background: linear-gradient(0deg, rgb(113, 255, 62), rgba(255, 0, 0, 0) 60%);
    color: var(--copy);
}

.max_score{
    background: linear-gradient(0deg, #FFD700, rgba(255, 0, 0, 0) 75%);
    color: var(--copy);
}

.menu_list_item{
    background-color: var(--foreground);
    background: var(--foreground);
    color: var(--copy);
}

.menu_list_item:hover{
    color: var(--secondary);
}

.basic_style{
    background-color: var(--foreground);
    color: var(--copy);
    border: 1px solid var(--border);
}

.primary_style{
    background: var(--primary-dark);
    color: var(--primary-content);
}

.results-list{
    width: 41%;
    background-color: #292423;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
}

.select-primary{
    background-color: var(--foreground);
    background: var(--foreground);
    color: var(--copy);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 0.7%;
}

.select-primary-option:hover{
    color: var(--secondary);
}