@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;  */
    font-size: 20px;
    height: 100%;
    scrollbar-color: var(--secondary) var(--background);
    scrollbar-width: thin;
}

#html, body{
    background-color: var(--background);
}

:root{
    height: 100%;
    --primary: #66e8ff;
    --primary-content: #000000;
    --primary-dark: #33e0ff;
    --primary-light: #99f0ff;

    --secondary: #ff94d4;
    --secondary-content: #000000;
    --secondary-dark: #ff61bf;
    --secondary-light: #ffc7e8;

    --background: #181b1b;
    --foreground: #232829;
    --border: #3b4345;

    --copy: #fbfbfb;
    --copy-light: #d6dbdc;
    --copy-lighter: #9faaac;

    --success: #66ff66;
    --warning: #ffff66;
    --error: #ff6666;
    --success-content: #000000;
    --warning-content: #2E2E00;
    --error-content: #000000;

    --gradient-top: linear-gradient(0deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-right: linear-gradient(90deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-bottom: linear-gradient(180deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-left: linear-gradient(270deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-top-right: linear-gradient(45deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-bottom-right: linear-gradient(135deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-top-left: linear-gradient(225deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-bottom-left: linear-gradient(315deg, var(--primary-light), var(--primary), var(--primary-dark));
    --gradient-radial: radial-gradient(var(--primary-light), var(--primary), var(--primary-dark)); 
}

::selection {
    color: var(--secondary-content);
    background: var(--secondary);
}

h1{
    font-size: 48px; 
}

h2{
    font-size: 36px; 
}

@media (max-width: 768px) {
    h1 {
      font-size: 42px; 
    }

    h2{
        font-size: 30px; 
    }
}

.p2{
    font-size: 24px;
}

.gradient_box{
    background: var(--gradient-top);
    color: var(--primary-content);
    padding: 3% 4.7%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.gradient_button{
    background: var(--primary);
    padding: 2%;
    border-radius: 10px;
}

.button_secondary{
    background: var(--secondary-dark);
    color: var(--secondary-content);
    padding: 5px;
    padding-inline: 16px;
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
}

.button_secondary:hover{
    background: var(--secondary-light);
}

.button_secondary:disabled{
    background: var(--foreground);
    border: 1px solid var(--secondary-dark);
    color: var(--secondary-dark);
    cursor: not-allowed;
}

.button_success{
    background: var(--success);
    color: var(--success-content);
    padding: 0.5%;
    padding-inline: 1.5%;
    border-radius: 20px;
}

.button_error{
    background: var(--error);
    color: var(--erroe-content);
    padding: 0.5%;
    padding-inline: 1.5%;
    border-radius: 20px;
}

.small{
    font-size: 16px;
}

.question_right{
    background-color: var(--success);
}

.question_wrong{
    background-color: var(--error);
}

.question{
    background-color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: 15px;
    color: var(--secondary);
    padding: 2% 3%;
    min-width: 20%;
    box-shadow: 0 4px 6px -6px #222;
}

.tag_error{
    background: var(--error);
    padding: 0px 9px;
    border-radius: 100%;
    cursor: default;
    color: white;
    align-content: center;
    justify-content: center;
}

.tag_category{
    border: 2px solid var(--primary);
    box-shadow: 0px 0px 20px var(--border);
    color: var(--copy);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: default;
}

.tag_infinity{
    background: var(--error);
    padding: 0.5px 8px;
    border-radius: 100%;
    cursor: default;
    color: white;
    align-content: center;
    justify-content: center;
}

.game_type{
    padding: 5%;
    background-color: var(--foreground);
    border-color: var(--border);
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
    margin: 1%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.game_type:hover{
    color: var(--secondary);
    box-shadow: 0px 0px 20px var(--secondary-light);
}

.circle{
    border: 3px solid var(--copy);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.button_primary{
    border-radius: 20px;
    background-color: var(--foreground);
    color: var(--primary-light);
    padding: 7px;
    padding-inline: 16px;
    white-space: nowrap;
    text-align: center;
}

.button_primary:hover{
    color: var(--primary);
    box-shadow: 0px 0px 6px var(--border);
}


.popuptext {
    position: absolute;
    display: none;
    background-color: var(--foreground);
    color: var(--secondary);
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px var(--border);
    z-index: 10;
  }
  
.show {
    display: block;
}

.hidden_radio {
    opacity: 0;
    position: absolute;
  }
  
.hidden_radio_label {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.hidden_radio_label:hover {
    background-color: var(--primary-light);
    border-color: var(--primary);
    color: var(--primary-content);
}

.hidden_radio:checked + .hidden_radio_label {
    background-color: var(--border);
    color: var(--copy);
    border-color: var(--primary);
}

.custom_card{
    background-color: var(--primary-dark);
    color: var(--primary-content);
    border-color: var(--border);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_score{
    background-color: var(--foreground);
    color: var(--copy);
}

.low_score{
    background: linear-gradient(0deg, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 15%);
    text-shadow: 0px 0px 10px var(--background);
    color: var(--copy);
}

.medium_score{
    background: linear-gradient(0deg, rgb(153, 0, 255), rgba(255, 0, 0, 0) 30%);
    text-shadow: 0px 0px 10px var(--background);
    color: var(--copy);
}

.high_score{
    background: linear-gradient(0deg, rgb(0, 183, 255), rgba(255, 0, 0, 0) 45%);
    text-shadow: 0px 0px 10px var(--background);
    color: var(--copy);
}

.very_high_score{
    background: linear-gradient(0deg, rgb(113, 255, 62), rgba(255, 0, 0, 0) 60%);
    color: var(--copy);
    text-shadow: 0px 0px 10px var(--background);
}

.max_score{
    background: linear-gradient(0deg, #FFD700, rgba(255, 0, 0, 0) 75%);
    text-shadow: 0px 0px 10px var(--background);
    color: var(--copy);
}

.menu_list_item{
    background-color: var(--foreground);
    background: var(--foreground);
    color: var(--copy);
}

.menu_list_item:hover{
    color: var(--secondary);
}

.basic_style{
    background-color: var(--foreground);
    background: var(--foreground);
    color: var(--copy);
}

.primary_style{
    background: var(--primary-dark);
    color: var(--primary-content);
}

.results-list{
    width: 41%;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
}

.select-primary{
    background-color: var(--foreground);
    background: var(--foreground);
    color: var(--copy);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 0.7%;
    max-height: 150px;
    overflow-y: auto;
}

.select-primary-option:hover{
    color: var(--secondary);
}

.search_input{
    box-shadow:0 3px 8px var(--border);
    border-radius: 20px;
    background-color: var(--foreground);
}

.card_score{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card_score_absolute{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 30px;
    right: 20px;
}